In [ ]:
## Requirement--------------->to print bmw in capital letters reamaing all are in lower case

In [6]:
cars=['audi','bmw','kia','tata','toyato']

In [7]:
print(cars)

['audi', 'bmw', 'kia', 'tata', 'toyato']

In [10]:
for k in cars:
    if k=='bmw':
        print(k.upper())
    else:
        print(k.lower())

audi
BMW
kia
tata
toyato

In [ ]:
## While loop  ## print first 100 numbers by using while loop

num=1
while num<=100:
    print(num)
    num=num+1

In [12]:
num=1                                                2
while num<=100:           1<=100                     2<=100
    print(num)               1                        2
    num=num+1                1=1+1====>2              2=2+1=======>3

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [ ]:
## Split()


## Eval


## filter



## lambda



## map

In [ ]:
Evaluation----->eval          str-int      str-float       float-int

In [13]:
age=input('how old are you')

how old are you32

In [14]:
type(age)

str

In [15]:
age=eval(input('how old are you'))

how old are you21

In [16]:
type(age)

int

In [ ]:
## split()---------------->it is going to split a string into list datatype

In [17]:
msg="hiii john how are you"

In [18]:
x=msg.split()

In [19]:
print(x)

['hiii', 'john', 'how', 'are', 'you']

In [20]:
type(x)

list

In [21]:
x=input().split()

77 89 54 34

In [22]:
x

['77', '89', '54', '34']

In [ ]:
def example()

In [ ]:
## Lambda:------------


## lambda is anonymous function----------->function with  no name


syntax------>  x=lambda arguments:expression

In [23]:
x=lambda a,b,c:a+b+c

In [24]:
print(x(2,3,4))

9

In [ ]:
a,b  write the syntax for product operation

In [25]:
v=lambda a,b:a*b

In [26]:
print(v(2,3))

6

In [ ]:
## Filter()

syntax-----------> x=filter(function,sequence)
                               with lambda
                               with out lambda

In [ ]:
## here i want to filter even numbers

In [33]:
s1=[11,23,67,54,80,32,56]

In [34]:
s1

[11, 23, 67, 54, 80, 32, 56]

In [35]:
s=filter(lambda n:n/2==0,s1)

In [36]:
s

In [41]:
s=tuple(filter(lambda n:n%2==0,s1))

In [42]:
s

(54, 80, 32, 56)